
<\%= turbo_frame_tag "<%= singular %>__#{ <%= singular %>.id }" do  %>
  <div class='row scaffold-row' data-id='<\%= <%= singular  %>.id %>' data-edit='false'>
    <\%= render partial: '<%=  show_path_partial %>', locals: { <%= singular %>: <%= singular %> }<% @nested_set.each do |nest_arg| %>.merge(defined?(<%= nest_arg[:singular] %>) ? {<%= nest_arg[:singular] %>: <%= nest_arg[:singular] %>, nested_for: "<%= nest_arg[:singular] %>-#{<%= nest_arg[:singular] %>.id}"} : {})<% end %> %>

  </div>
<\% end %>




