
<\%= turbo_frame_tag "<%= singular %>__#{ <%= singular %>.id }" do  %>
  <div class='row scaffold-row' data-id='<\%= <%= singular  %>.id %>' data-edit='false'>
    <\%= render partial: '<%=  show_path_partial %>', locals: { <%= singular %>: <%= singular %><%= nest_assignments_operator(false, true) if @nestable %><%= (", nested_for: \"" + @nested_args.collect{|a| a + "-" + '#{'+ a + '.id}' }.join("__") + "\"") if @nestable %> } %>

  </div>
<\% end %>




