<\%= turbo_frame_tag "<%= plural %>-list" <%= nested_for_turbo_id_list_constructor %>  do %>
  <div class="<%= @container_name %> scaffold-list">
    <% unless @nested_args.any? %><h4><%= plural.gsub("_", " ").upcase %></h4><% end %>

    <% unless @no_create %><%= '<%= render partial: "' + ((@namespace+"/" if @namespace) || "") +  plural + '/new_button", locals: {' + nested_assignments + '}' + '%\>'.gsub('\\',"")  %><% end %>


    <div class="row scaffold-row">
      <%= list_column_headings %>
      <% if @downnest_children.any? %>
        <% each_downnest_width = @downnest_children.count == 1 ? 40 : (60/@downnest_children.count).floor %>
        <% downnest_column_style = @layout == "hotglue" ? 'style="flex-basis: ' + each_downnest_width +  '%;' : "" %>

        <% @downnest_children.each do |downnest| %>
        <div class="<%= @col_identifer %> scaffold-col-heading<%= ' col-md-3' if @layout=="bootstrap" %>" <%= downnest_column_style %>>
          <h4>
            <%=  downnest.titleize  %>
          </h4>
        </div>
      <% end %>
      <% end %>

      <% button_column_style = @layout == "hotglue" ? 'style="flex-basis: 150px' : ""  %>

      <div class='<%= @col_identifer %> scaffold-col-heading scaffold-col-heading-buttons<%= ' col-md-2' if @layout=="bootstrap" %>' <%= button_column_style %>>

      </div>
    </div>

      <\% if <%= plural %>.empty? %>
    <div>
        None
    </div>
      <\% end %>
      <\% <%= plural %>.each do |<%= singular %>| %>
        <\%= render partial: '<%= line_path_partial %>', locals: {<%= singular %>: <%= singular %><%= nested_assignments_with_leading_comma if  @nestable %><%= ", nested_for: nested_for" if @nestable %> } %>
      <\% end %>

    <%=  @no_paginate ? "" : paginate %>
    </div>
  </div>
<\% end %>
