<\%= turbo_frame_tag "<%= plural %>-list" do %>
  <div class="container-fluid "><%= singular %>-table
    <div class="row">
      <%= list_column_headings %>
      <div class='col buttons-col'></div>
    </div>

      <\% if <%= plural %>.empty? %>
        <div>
            None
        </div>
      <\% end %>
      <\% <%= plural %>.each do |<%= singular %>| %>
        <\%= render partial: '<%= line_path_partial %>', locals: {<%= singular %>: <%= singular %> <%= nested_assignments_with_leading_comma %> } %>
      <\% end %>

    <%=  @no_paginate ? "" : paginate %>
  </div>
<\% end %>
