<\%= turbo_frame_tag "<%= plural %>-list" <%= nested_for_turbo_id_list_constructor %>  do %>
  <div class="<%= @container_name %> scaffold-list">
    <h4><%= plural.gsub("_", " ").upcase %></h4>

    <% unless @no_create %><%= '<%= render partial: "' + ((@namespace+"/" if @namespace) || "") +  plural + '/new_button", locals: {' + nested_assignments + '}' + '%\>'.gsub('\\',"")  %><% end %>

    <div class="row scaffold-row">
      <%= list_column_headings %>
      <% if @downnest_relationship %> <div class="col scaffold-col-heading" style="flex-basis: 45%">
      <h4>
        <%=  @downnest_relationship.titleize  %>
      </h4>
      </div> <% end %>

      <div class='col scaffold-col-heading scaffold-col-heading-buttons' style="flex-basis: 150px"></div>
    </div>

      <\% if <%= plural %>.empty? %>
        <div>
            None
        </div>
      <\% end %>
      <\% <%= plural %>.each do |<%= singular %>| %>
        <\%= render partial: '<%= line_path_partial %>', locals: {<%= singular %>: <%= singular %><%= nested_assignments_with_leading_comma if  @nestable %> } %>
      <\% end %>

    <%=  @no_paginate ? "" : paginate %>
  </div>
<\% end %>
