<\%= turbo_frame_tag "<%= @namespace %>__<%= plural %>-list" <%= nested_for_turbo_id_list_constructor %>  do %>

  <div class="<%= @container_name %> <%= @layout_strategy.list_classes %>">
    <% unless @no_list  || @no_list_label || (@nested_set.any? && !@nested_set.collect{|x| x[:optional]}.any?)  %>
      <% unless list_label.nil? %><h4>
        <%= list_label %>
      </h4><% end %>
    <% end %>

    <% if @new_button_position == 'above' %>
    <% unless @no_create %><%= '<%= render partial: "' + ((@namespace+"/" if @namespace) || "") +  @controller_build_folder + '/new_button", locals: {}' + @nested_set.collect{|arg| ".merge(defined?(#{arg[:singular]}) ? {#{arg[:singular]}: #{arg[:singular]}} : {})"}.join()  + ' %\>'.gsub('\\',"")  %><br /><% end %>
    <% end %>

    <% unless @no_list %>
      <% unless @no_list_heading %>
        <div class="<%= @layout_strategy.row_classes %> <%= @layout_strategy.row_heading_classes %>">
          <%= list_column_headings %>

          <% if @downnest_object.any? && !@big_edit %>
            <% if !@stacked_downnesting %>
              <%= @layout_strategy.downnest_column_style  %>

              <% @downnest_object.each do |downnest| %>

                <div class=" scaffold-col-heading <%= @layout_strategy.downnest_portal_column_width(downnest.name) %> <%= @layout_strategy.downnest_column_style %>">
                  <strong>
                    <%= downnest.name.titleize %>
                  </strong>
                </div>
              <% end %>
            <% else %>
              <div class=" scaffold-col-heading  <%= @layout_strategy.downnest_portal_stacked_column_width  %> <%= @layout_strategy.downnest_column_style %>">
              <%= @layout_strategy.downnest_column_style  %>
              <% @downnest_object.each_with_index do |downnest,i| %>
                  <strong>
                    <%= downnest.name.titleize %>
                  </strong>
              <% end %>
              </div>
            <% end %>
          <% end %>

          <% if @list_after_each_row_heading_partial %><\%= render partial: "list_after_each_row_heading" %><% end %>

          <div class=' scaffold-col-heading scaffold-col-heading-buttons <%= @layout_strategy.column_classes_for_column_headings %>' <%= @layout_strategy.button_column_style %>>
          </div>
        </div>
      <% end %>
      <% if @search %>
        <%= @layout_strategy.search_opening %>
          <%= @template_builder.search_input_area %>
        <%= @layout_strategy.search_closing %>
      <% end %>
      <\% if <%= plural %>.empty? %>
    <div>
        None
    </div>
      <\% end %>
      <\% <%= plural %>.each do |<%= singular %>| %>
        <\%= render partial: '<%= line_path_partial %>', locals: {<%= singular %>: <%= singular %>}
            .merge(defined?(nested_for) ? {nested_for: nested_for} : {})
      <%= @nested_set.collect{|arg| "      .merge(defined?(#{arg[:singular]}) ? {#{arg[:singular]}: #{arg[:singular]}} : {})"}.join("\n") %>
        %>
      <\% end %>
      <% if @paginate_per_page_selector %>
        <\%= form_with url: '<%= path_helper_plural(top_level: false) %>', method: :get do |f| %>
           Show per page
        <\%= f.collection_select  "per", [10, 25, 100], :to_s, :to_s, {prompt: true, selected: params[:per]}, {onChange: "this.form.submit();"} %>
        <\% end %>
      <% end %>
    <%=  @no_paginate ? "" : paginate %>
  <% end  %>


  <% if @new_button_position == 'below' %>
    <% unless @no_create %><%= '<%= render partial: "' + ((@namespace+"/" if @namespace) || "") +  @controller_build_folder + '/new_button", locals: {}' + @nested_set.collect{|arg| ".merge(defined?(#{arg[:singular]}) ? {#{arg[:singular]}: #{arg[:singular]}} : {})"}.join()  + ' %\>'.gsub('\\',"")  %><br /><% end %>
  <% end %>
  </div>
<\% end %>
