<\%= turbo_frame_tag "<%= singular %>-new" do %>
  <div>
    <\%= link_to "New <%= singular.titlecase %>",  <%= new_path_name %>, disable_with: "Loading...", class: "new-<%= singular %>-button btn btn-primary pull-right <%= 'btn-sm' if @nested_args.any? %> " %>
  </div>
<\% end %>
