<%= all_line_fields %>

<% if @downnest_children.any? %>
  <% each_downnest_width = @downnest_children.count == 1 ? 33 : (53/@downnest_children.count).floor %>

  <% @downnest_children.each_with_index do |downnest,i| %>

    <% downnest_object =  eval("#{singular_class}.reflect_on_association(:#{downnest})") %>
    <% downnest_class = downnest_object.class_name %>
    <% downnest_object_name = eval("#{downnest_class}.table_name") %>
    <% downnest_style =  @layout == "hotglue" ? 'style="flex-basis: ' +  each_downnest_width.to_s + '%"' : "" %>
    <div class="<%= " col-md-#{@layout_object[:portals][downnest][:size]}" if @layout == "bootstrap" %> scaffold-downnest" <%= downnest_style  %> >
  <\%= render partial: "<%= namespace_with_trailing_dash %><%= downnest_object_name %>/list", locals: {
    nested_for: "<% if @nested_args.any? %>#{nested_for + "__" if nested_for}<% end %><%= @singular %>-#{<%= @singular %>.id}",
    <%= @singular %>: <%= @singular %><%= nest_assignments_operator(false, true) %>,
    <%= downnest_object_name %>: <%= @singular %>.<%= downnest %>} %>
  </div>
  <% end %>
<% end %>

<% button_style = @layout == "hotglue" ? 'style="flex-basis: ' +  (100 - (column_width * @columns.count)).floor.to_s +  '%;"' : "" %>
<div class="<%= @col_identifier %> scaffold-line-buttons <%= " col-md-#{ @layout_object[:buttons][:size] }" if @layout == "bootstrap" %>" <%= button_style %>>
  <%= magic_button_output %>

  <% if destroy_action %>
    <\%= form_with url: <%= path_helper_singular %>(<%= path_helper_args %>), html: {data: {'<%= @ujs_syntax ? 'confirm' : 'turbo-confirm' %>': "Are you sure you want to delete #{ <%= @singular + "." + display_class %> }?"}, style: "display: inline-block;"}, method: :delete do |f| %>
      <\%= f.submit "Delete".html_safe,  class: "delete-<%= singular %>-button btn btn-primary btn-sm" %>
    <\% end %>
  <% end %>

  <% unless @no_edit %>
  <\%= link_to "Edit <i class='fa fa-1x fa-list-alt'></i>".html_safe, edit_<%= path_helper_singular %>(<%= path_helper_args %>), <% if @big_edit %>'data-turbo' => 'false', <% end %>disable_with: "Loading...", class: "edit-<%= singular %>-button btn btn-primary btn-sm" %>
  <% end %>
</div>
