<\%= link_to "<i class='fa fa-arrow-circle-left  2x'></i> Back to list".html_safe, <%= path_helper_plural %> %>

<\%= turbo_frame_tag "<%= singular %>__#{<%= "@" + singular %>.id}" do  %>

  <div class="cell editable" style="position: relative;">

    <\% if @<%= singular %>.errors.any? %>
      <\%= render(partial: "#{controller.namespace}errors", locals: {resource: @<%= singular %> }) %>
    <\% end %>

    <h2>Editing <\%= @<%= @singular %>.<%= display_class %> %></h2>
    <\%= form_with model: <%= "@" + singular%>, url: <%= path_helper_singular %>(<%= path_arity %>) do |f| %>
    <\%=  render partial: "form",  locals: {:<%=  singular  %> => <%= "@" + singular%>, f: f} %>
    <\% end %>

  </div>

<\% end %>


