<% if @big_edit %>
  <% if include_nav_template %><%= @layout_strategy.page_begin %>
    <\%= render partial: "<%= nav_template %>", locals: {nav: "<%= "#{@controller_prefix ? controller_prefix_snake + "_": ""}#{@plural}" %>"} %><%= @layout_strategy.page_end %><% end %>

  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <\%= link_to "<% if @button_icons == 'font-awesome' %><i class='fa fa-arrow-circle-left  2x'></i><% end %> Back to list".html_safe, <%= path_helper_plural(true) %> %>
<% end %>
<\%= render partial: "edit", locals: {<%= singular %>: @<%= singular %><%= @nested_set.any? ? ", " + (@nested_set.collect{|x| "#{x[:singular]}: @#{x[:singular]}"}.join(", ") ) : "" %>}  %>
<% if @big_edit %>
    </div>
  </div>
</div>

<% if @downnest_children.any? && @big_edit %>
<div class="container" data-controller="bootstrap-tabbed-nav">
    <ul class="nav nav-tabs" id="<%= singular + "_downnest_portals" %>" role="tablist">
      <% @downnest_object.each_with_index do |set, index| %>
        <% key = set[0]; downnest = set[1] %>
        <li class="nav-item" role="presentation">
          <button class="nav-link <%= "active" if index==0 %>" id="<%= downnest[:name] %>-tab" data-bs-toggle="tab" data-bs-target="#<%= downnest[:name] %>-portal" type="button" role="tab" aria-controls="home" aria-selected="true">
            <%= downnest[:name].titlecase.pluralize %>
          </button>
        </li>
      <% end %>
    </ul>

    <div class="tab-content" id="myTabContent">
      <% @downnest_object.each_with_index do |set, index|  %>
        <% key = set[0]; downnest = set[1] %>
        <div class="tab-pane fade <%= "show active" if index==0 %>" id="<%= downnest[:name] %>-portal" role="tabpanel" aria-labelledby="<%= downnest[:name] %>-tab">

          <% downnest_object =  eval("#{singular_class}.reflect_on_association(:#{downnest[:polymorph_as] || downnest[:name]})") %>
          <% if downnest_object.nil?; raise "no relationship for downnested portal `#{downnest[:name]}` found on `#{singular_class}`; please check relationship for has_many :#{downnest[:name]} or use ( .. ) to work with polymorphism"; end; %>
          <% downnest_class = downnest_object.class_name %>
          <% downnest_object_name = downnest[:name]  %>
          <% downnest_style = @layout_strategy.downnest_style %>

          <\%= render partial: "<%= namespace_with_trailing_dash %><%= downnest_object_name %>/lazy_list", locals: {<%= @singular %>: @<%= @singular %>, <%= @nested_set.collect{|x| "#{x[:singular]}: @#{x[:singular]}"}.join(", ") %><%= @nested_set.any? ? "," : "" %> nested_for: "<%= (@nested_set).collect{|x| "#{x[:singular]}-" + "\#{" + "@#{x[:singular]}.id}"}.join("__") %><%= "__" if @nested_set.any? %><%= singular %>-#{@<%= @singular %>.id}"  } \%>

        </div>
      <% end %>
    </div>

</div>
<% end %>


<% end %>
