<% if @menu_file_exists %><\%= render partial: "<%= namespace_with_trailing_dash %>menu", locals: {active: '<%= plural %>'} %><% end %>

<div class="<%= @container_name %>">
  <% if include_nav_template %><%= @layout_strategy.page_begin %>
  <\%= render partial: "<%= nav_template %>", locals: {nav: "<%= "#{@controller_prefix ? controller_prefix_snake + "_": ""}#{@plural}" %>"} %><%= @layout_strategy.page_end %><% end %>
  <% if @index_before_list_partial %><\%= render partial: "index_before_list" %><% end %>

  <%= @layout_strategy.page_begin %>
  <\%= render partial: '<%= list_path_partial %>',
    locals: {<%= plural %>: @<%= plural %>  <% if @nested_set.any?  %>, nested_for: "<%= @nested_set.collect{|n| "#{n[:singular]}-\#{@#{n[:singular]}.id}"}.join("__") %>", <%= @nested_set.collect{|n| "#{n[:singular]}: @#{n[:singular]}"}.join(", ") %><% end %>
  } \%>
  <%= @layout_strategy.page_end %>
</div>
