<div class="row">
  <div class='col-md-1' >  
    <span class='<%= "alert-danger" if ghi.errors.details.keys.include?(:dfg) %>'  style="display: inherit;"  >
        <%= f.collection_select(:dfg_id, Dfg.all, :id, :name, {prompt: true, selected: @ghi.dfg_id }, class: 'form-control') %>
      
      <label class='small form-text text-muted'>Dfg</label>
    </span>
    <br />
  </div>
  <div class='col-md-1' >  
    <span class='<%= "alert-danger" if ghi.errors.details.keys.include?(:xyz) %>'  style="display: inherit;"  >
        <%= f.collection_select(:xyz_id, Xyz.all, :id, :name, {prompt: true, selected: @ghi.xyz_id }, class: 'form-control') %>
      
      <label class='small form-text text-muted'>Xyz</label>
    </span>
    <br />
  </div>

  <div class="col-md-2">
    <%= link_to "Cancel", ghis_path,  {class: "btn btn-secondary"} %>
    <%= f.submit "Save", class: "btn btn-primary pull-right" %>
  </div>
</div>
