<div class='col-md-1'><%= ghi.dfg.try(:name) || '<span class="content alert-danger">MISSING</span>'.html_safe %></div>
<div class='col-md-1'><%= ghi.xyz.try(:name) || '<span class="content alert-danger">MISSING</span>'.html_safe %></div>




<div class=" scaffold-line-buttons  col-md-2" >
  

  
    <%= form_with url: ghi_path(ghi), html: {data: {'turbo-confirm': "Are you sure you want to delete #{ ghi.name }?"}, style: "display: inline-block;"}, method: :delete do |f| %>
      <%= f.submit "Delete".html_safe,  class: "delete-ghi-button btn btn-primary btn-sm" %>
    <% end %>
  

  
  <%= link_to "Edit <i class='fa fa-1x fa-list-alt'></i>".html_safe, edit_ghi_path(ghi), disable_with: "Loading...", class: "edit-ghi-button btn btn-primary btn-sm" %>
  
</div>
