<%= link_to "<i class='fa fa-arrow-circle-left  2x'></i> Back to list".html_safe, ghis_path %>

<%= turbo_frame_tag "ghi__#{@ghi.id}" do  %>

  <div class="cell editable" style="position: relative;">

    <% if @ghi.errors.any? %>
      <%= render(partial: "errors", locals: {resource: @ghi }) %>
    <% end %>

    <h2>Editing <%= @ghi.name %></h2>
    <%= form_with model: @ghi, url: ghi_path(@ghi) do |f| %>
    <%=  render partial: "form",  locals: {:ghi => @ghi, f: f} %>
    <% end %>

  </div>

<% end %>


