<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


  <% if user_signed_in? %>
    <div class="well">
      Logged in as
      <strong>
        <%= current_user.email %>
      </strong>
    </div>
    <div class="dropdown-divider"></div>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item' %>

  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'dropdown-item' %>
    <div class="dropdown-divider"></div>
    <%= link_to "Login", new_user_session_path, :class => 'dropdown-item' %>
  <% end %>

  <%= render partial: 'layouts/flash_notices' %>
  
    <%= yield %>
  </body>
</html>
